.mt-5 {
  margin-top: 4rem;
}

body {
  background-color: $background-color;
  color: $text-color;
  transition: all ease-in-out 0.3s;
}

.dark body {
  background-color: $background-cdark;
  transition: all ease-in-out 0.3s;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1rem !important;
  color: rgb(145, 142, 142);

  p {
    margin: 0;
    margin-right: 0.5rem;
  }

  .header__logo {
    font-size: 1.5rem;
    margin: 0;
    height: auto;
  }
}
