.mt-5 {
	margin-top: 4rem;
}

body {
  background-color: $background-color;
  color: $text-color;
  transition: all ease-in-out 0.3s;
}

.dark body {
  background-color: $background-cdark;
  transition: all ease-in-out 0.3s;
}