.dark {
  .base-section h1,
  h4,
  h5,
  h6,
  p,
  div,
  .list-container p {
    color: azure !important;
  }

  .contt {
    background-color: rgb(247, 249, 250) !important;

    h1 {
      color: #333131 !important;
    }
  }
}
