.dark .footer {
  height: 200px;
  background-color: rgb(247, 249, 250);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 1rem !important;

  p {
    margin: 0;
    margin-right: 0.5rem;
    color: #333131 !important;
  }

  .header__logo {
    font-size: 1.5rem;
    margin: 0;
    height: auto;
  }
}
