
.dark .header {
  background-color: $text-color !important;

  &__logo {
    color: $text-cdark;
  }

  &__theme-toggle {
    color: $text-cdark;
  }
  
  .slime {
    background: #fff;

    &::before,
    &::after {
      background: #fff;
      z-index: -1;
    }
  }

  .slime__eye {
    background: #333131;
  }

  .kiubit-bubble {
    background: #fff;
    color: #333131;
  }

  .kiubit-bubble__text {
    color: #333131;
  }

  .kiubit-bubble__heart {
    color: #333131;
  }

  .kiubit-bubble__icon svg {
    color: #333131;
  }

  .dropdown-menu {
    &::before {
      z-index: -1;
      transform: rotate(-135deg);
      top: -4px;
      border-color: #ffffff;
      box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
    }
  }
}
