$background-color:rgb(247, 249, 250);
$background-gradient: linear-gradient(180deg, rgba(247, 249, 250, 0.478) 57%, rgba(237,237,237, 0.478) 81%);
$color-primary: #8d1111;
$color-secondary: #80a3d5;
$text-color: #333131;

//dark-mode-colors
$background-cdark: #333131;
$text-cdark: rgb(247, 249, 250);
