@font-face {
  font-family: "chocolate";
  src: url("../../../public/fonts/Arimo.ttf");
}

@font-face {
  font-family: "mio";
  src: url("../../../public/fonts/cube.ttf");
}

@font-face {
  font-family: "0";
  src: url("../../../public/fonts/Funkturm.ttf") format("truetype");
}

@font-face {
  font-family: "1";
  src: url("../../../public/fonts/Arimo.ttf");

  //  src: url("../../../public/fonts/Rota-Text.otf") format("truetype");
}
