@import "utils/colors";
@import "utils/variables";
@import "variables.module.scss";
@import "abstracts/mixins";

//Normal-components
@import "components/button-grid";
@import "components/toggle-theme";
@import "components/dropdown";
@import "components/error";
@import "components/experience";
@import "components/header";
@import "components/lenguage-selector";
@import "components/hero";
@import "components/base-section";

//Dark-Mode-components
@import "components/dark/header";
@import "components/dark/lenguage-selector";
@import "components/dark/dropdown";
@import "components/dark/toggle-theme";
@import "components/dark/hero"; 

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
