@font-face {
  font-family: 'mio';
  src: url('../../../public/fonts/cube.ttf');
}

.header {
  align-items: center;
  background: $background-color;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  transition: all ease-in-out 0.3s;
  width: 100%;
  
  position: sticky;
  top: 0;
  z-index: 999;

  &__container {
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;

    @include respond-to('small') {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__logo {
    align-items: center;
    border-radius: 50%;
    color: $text-color;
    cursor: pointer;
    display: flex;
    font-size: 1.8rem;
    height: 3.125rem;
    justify-content: center;
    margin: 0;
    font-family: 'mio';

    @include respond-to('small') {
      font-size: 2.5rem;
    }
  }

  &__settings {
    margin: auto 0;
    
    & > .dropdown-container > .dropdown-toggle {
      color: $text-color !important;
      font-size: 1.875rem !important;

      &:hover {
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
      }

    }

    @-moz-keyframes spin { 
      100% {
        -moz-transform: rotate(360deg); 
      } 
    }

    @-webkit-keyframes spin { 
      100% { 
        -webkit-transform: rotate(360deg); 
      } 
    }
    
    @keyframes spin { 
      100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
      } 
    }

    .settings-large{
      display: none;
    }

  }

  .dropdown-toggle {
    position: relative;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;

  }
  
  .dropdown-menu {
    z-index: 10;
    position: relative;
  
    &::before {
      z-index: -1;
      transform: rotate(-135deg);
      top: -4px;
      border-color: #ffffff;
      box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
    }
  }
}
