.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .hero__container-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.4rem 0 1.4rem;
    flex: 1;
  }

  @include respond-to("small") {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }

  .hero__image-container {
    width: 100%;
    flex: 1;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__image-logo {
    border-radius: 50%;
    object-fit: cover;
    width: 65%;
    height: 50%;

    width: 60%;
    height: 100%;
    object-fit: cover;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    animation: morphing 10s infinite;
  }

  .hero__image-container:hover .hero__image-logo {
    animation-play-state: paused;
  }

  .hero__information > div {
    display: flex;
    flex-direction: column;
  }

  .hero__information > div > div {
    margin: 0 auto;
  }

  &__information {
    text-align: center;
    margin-top: 1rem;

    & > div > h1 {
      margin: 0;
      font-size: clamp(2rem, 8.5vmin, 12rem);
      margin: 0.5rem 0;
      font-family: "0";
    }

    p {
      margin: 0;
      margin-top: 0.8rem;
      color: #333131;
      font-size: clamp(1.5rem, 2vmin, 2rem);
      font-family: "1";
    }

    p:nth-child(3) {
      margin-top: 2rem;
      font-size: clamp(1.3rem, 2vmin, 2rem);
      color: #80a4d3;
      animation: changeColor 30s infinite;
    }

    .name-container {
      font-family: "0";
      background-color: #333131;
      cursor: context-menu;
      display: grid;
      grid-template-areas: "soloyo";
      padding: 1rem 0.5rem;
      letter-spacing: 4px;

      h1 {
        margin: 0;
        font-size: 5rem;
      }

      .h1-one {
        grid-area: soloyo;
        color: white;
        width: 100%;
      }

      .h1-two {
        animation: glitch2 2.5s infinite;
        color: #67f3da;
      }

      .h1-three {
        animation: glitch3 2.5s infinite;
        color: #f16f6f;
      }

      .h1-two,
      .h1-three {
        display: none;
        grid-area: soloyo;
      }

      &:hover {
        h1-one {
          animation: glitch1 2.5s infinite;
        }

        .h1-two,
        .h1-three {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .hero__container-information {
      max-width: 100vh;
    }
  }

  @media screen and (min-width: 955px) {
    .hero__container-information {
      max-width: 1536px;
    }
  }

  @media screen and (min-width: 1460px) {
    .hero__container-information {
      max-width: 1728px;
    }
  }

  @include respond-to("small") {
    flex-direction: row;
  }

  @include respond-to("large") {
    min-height: 100vh;
  }

  @keyframes morphing {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }
    25% {
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
      box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
  }

  @keyframes changeColor {
    0% {
      color: #80a4d3;
    }
    20% {
      color: #eebc3a;
    }
    40% {
      color: #f36159;
    }
    60% {
      color: #f693b4;
    }
    80% {
      color: #65bcba;
    }
    100% {
      color: #80a4d3;
    }
  }
}
